{% load bootstrap4 %}
{% load leaflet_tags %}
{% load static %}
{% load crispy_forms_tags %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% leaflet_js %}
{% leaflet_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>Social Flood</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="{% static 'javascript/script.js' %}"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Social Flood</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/maps">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="images">Images</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" tabindex="-1">About<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
    </head>
     <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center">
                    <h3>Demo of Jorge Pereira's MSc Thesis</h3>
                </div>
                <div class="col-lg-4 d-flex align-items-center">
                    <h5>Classifying Geo-Referenced Photos and Satellite Imagery for Supporting Terrain Classification</h5>
                </div>
                <div class="col-lg-4">
                    <img width="100%" src="/static/images/ist.png">
                </div>
            </div>
        </div>
     </body>
</html>