{% load bootstrap4 %}
{% load leaflet_tags %}
{% load static %}
{% load crispy_forms_tags %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% leaflet_js %}
{% leaflet_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>Social Flood</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="{% static 'javascript/script.js' %}"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Social Flood</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/maps">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Images</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
              <form class="form-inline my-2 my-lg-0"  action="{% url 'download' %}" onsubmit="return downloadImages();">
                <button id="download-button" class="btn btn-outline-success my-2 my-sm-0" type="submit" >
                    Download Images
                </button>
              </form>
            </div>
        </nav>

    </head>
    <body onload="bodyOnLoad();">
        <div class="row2">
            <div class="column" >
            {% for img in imgs %}
                <img width="100%" data-src="/media/images/{{ img }}" onclick="create_modal(this)">
                {% if forloop.counter|divisibleby:ratio and not forloop.last %}
                    </div><div class="column" >
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </body>
</html>